django==2.2.8
python-ldap==3.2.0
mysqlclient==1.4.4
pyodbc==4.0.27
Pillow==6.2.0
python-magic==0.4.15
bootstrap-admin==0.4.3
django-taggit==1.1.0
django-imagekit==4.0.2
django-countries==5.5
django-localflavor==2.2
django-bootstrap4==1.0.1
django-bootstrap-form==3.4
django-simple-captcha==0.5.12
django-encrypted-model-fields==0.5.8
