bootstrap-admin
cryptography
django==4.2.11
django-bootstrap4
django-bootstrap-form
django-countries
django-encrypted-model-fields
django-gmailapi-json-backend
django-imagekit
django-localflavor
django-loginas
django-simple-captcha
django-summernote
django-taggit
mysqlclient
Pillow
pyodbc
python-ldap
python-magic
python-memcached
requests
