bootstrap-admin
cryptography
django==3.2.21
django-admin-honeypot
django-bootstrap4
django-bootstrap-form
django-countries
django-encrypted-model-fields
django-imagekit
django-localflavor
django-loginas
django-simple-captcha
django-summernote
django-taggit
mysqlclient
Pillow
pyodbc
python-ldap
python-magic
python-memcached
requests
