{% extends "enrichment/registration_done.html" %}
{% load filters livewhale_api %}
{% block extra_javascript %}
    {{ block.super }}
    <script src="//www.carthage.edu/themes/korra/assets/fancybox/jquery.fancybox.js"
        type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            var $total = {{form_ord.total.value|default:10}}
            var $discount = "{{discount}}"
            if ($discount == "Yes") {
                $('#collegeid').toggle(true);
            }
            function update_total(val) {
                $total += val;
                $('#id_total').attr('value', $total);
            }
            $('#id_total').attr('readonly', true);
            // toggle college id field
            $('input[name="attended_before"]').bind('change',function(){
                var $attended = $(this).val();
                if ( $attended == "Yes" ) {
                    showOrHide = true;
                    if ($discount == "No" || $discount == "None") {
                        update_total(-10);
                        $discount = "Yes";
                    }
                }else{
                    showOrHide = false;
                    if ($discount == "Yes") {
                        update_total(10);
                        $discount = "No";
                    }
                }
                $('#collegeid').toggle(showOrHide);
            });
            $(".checkbox-toggle").change(function() {
                var $cid = $(this).attr('id');
                var $cred = $(this).attr('data-credit');
                var $prefix = $cid.slice(0, -2);
                var $suffix = $cid.substring($cid.length - 1);
                if($(this).is(":checked")) {
                    if ( $suffix == 2 ) {
                        $opposite = $prefix + "01";
                        if($("#" + $opposite).is(":checked")) {
                            $("#" + $opposite).attr("checked",false);
                            update_total(-50 * $cred);
                        }
                        update_total(100 * $cred);
                    }else{
                        $opposite = $prefix + "02";
                        if($("#" + $opposite).is(":checked")) {
                            $("#" + $prefix + "02").attr("checked",false);
                            update_total(-100 * $cred);
                        }
                        update_total(50 * $cred);
                    }
                }else{
                    update_total($suffix * -50 * $cred);
                }
            });
            $("a[id^=course]").on("focusin", function() {
                $(".fancybox").fancybox({
                    maxWidth    : 400,
                    maxHeight   : 600,
                    fitToView   : false,
                    width       : '50%',
                    height      : '50%',
                    autoSize    : false,
                    closeClick  : false,
                    openEffect  : 'none',
                    closeEffect : 'none'
                });
                did = '#help-' + $(this).attr("id");
                //console.log(did);
                $.fancybox.open([{
                    href : did
                }]);
            });

            $('form#profile').submit(function(){
                if ( $("input[name='verify']").is(':checked') ) {
                    // disable submit
                    $(this).children('input[type=submit]').attr('disabled', 'disabled');
                    return true;
                } else {
                    alert('You must check the checkbox\nabove the submit button before registering.');
                    return false;
                }
            });
        });
    </script>
{% endblock %}
{% block extra_style %}
<link href="//www.carthage.edu/static/vendor/jquery/plugins/fancybox/jquery.fancybox.css"
    rel="stylesheet" type="text/css" media="screen" />
<style type="text/css" media="screen, projection">
#id_reg_fee {color:#800;font-weight:bold;}
#session-info > ol li {display:block;margin-bottom:5px;}
#id_security_code, #id_reg_fee {width:100px;}
#id_card_number {width:175px;}
#id_postal_code, #id_date_of_birth, #id_total, #id_social_security_number,
#id_expiration_month, #id_expiration_year {
width:120px; }
#security {color:#000099;float:right;padding:5px;}
li.ctrlHolder div ul li {display:inline; padding-right:3px;}
.forms-container, .forms-container label {font-weight:bold;}
.cost { font-weight:bold; color:green; }
.column2 { padding-top: 0; }
#page-content-wrap .content h4 {
    font-size: 1em;
    margin-bottom: 0;
    text-transform: none;
}
#course-selection label {font-weight:normal;}
span.course {text-transform: uppercase;}
</style>
{% endblock %}
{% block content %}
<div class="forms-container">
    <form method="post" action="." class="form" id="profile">
        {% csrf_token %}
        {% for hidden in form_ord.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div id="security"><div style="margin-left:30px;">
            <a href="https://www.securitymetrics.com/site_certificate.adp?s=carthage.edu&amp;i=131614"
                target="_blank">
                <img src="https://www.securitymetrics.com/images/sm_ccsafe_wh.gif"
                    alt="SecurityMetrics" border="0">
            </a>
        </div></div>
        {% include "includes/required_text.html" %}
        {% if form_proc.errors or form_reg.errors or form_ord.errors %}
            <p class="error">
                There were errors with the data submitted, see below.
            </p>
        {% endif %}
        <div class="large-6 medium-12 small-12 clear cf">
            <fieldset class="blockLabels">
            <ol>
            {% with form_reg.first_name as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            <li class="form-group ctrlHolder">
                <h3>{{form_reg.second_name.label_tag}}</h3>
                <div>{{form_reg.second_name}}</div>
            </li>
            {% with form_reg.last_name as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            <li class="form-group ctrlHolder">
                <h3>{{form_reg.previous_name.label_tag}}</h3>
                <div>{{form_reg.previous_name}}</div>
            </li>
            {% with form_reg.address1 as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            {% with form_reg.city as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            {% with form_reg.state as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            {% with form_reg.postal_code as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            </ol>
            </fieldset>
        </div>
        <div class="column2 large-6 medium-12 small-12">
            <fieldset class="blockLabels">
            <ol>
            {% with form_reg.phone as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            {% with form_reg.phone_home as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            <li class="form-group ctrlHolder">
                <h3>{{form_reg.phone_work.label_tag}}</h3>
                <div>{{form_reg.phone_work}}</div>
            </li>
            {% with form_reg.email as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            <li class="form-group ctrlHolder">
                <h3>{{form_reg.email_work.label_tag}}</h3>
                <div>
                    {{form_reg.email_work}}
                </div>
            </li>
            {% with form_reg.social_security_number as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            {% with form_reg.date_of_birth as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            {% with form_reg.attended_before as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            <li class="form-group" id="collegeid" style="display:none;">
                <h3>{{form_reg.collegeid.label_tag}}</h3>
                {% if form_reg.collegeid.errors %}
                <div class="required warning">
                <span class="error-message">{{ form_reg.collegeid.errors|join:", "}}</span>
                {% else %}
                <div class="required">
                {% endif %}
                {{form_reg.collegeid}}
                </div>
            </li>
            </ol>
            </fieldset>
        </div>
        <div class="large-12 medium-12 small-12">
            <fieldset id="course-selection" style="font-weight:normal;">
            <legend>Choose Courses</legend>
            {% get_lw_content as success blurbs 2125 %}
            {{success.body}}
            <ol class="fleft">
            {% for c in courses %}
                {% if forloop.counter|divisibleby:11 %}
                    </ol>
                    <ol class="fright">
                {% endif %}
                <li>
                {% ifchanged c.title %}
                <span>
                    <a href="#" id="course-{{c.course_number|slugify}}">
                        <strong>{{c.title}}</strong>
                    </a>
                    &mdash; {{c.credits}} credit{{ c.credits|pluralize }}
                </span><br>
                <div id="help-course-{{c.course_number|slugify}}" style="display:none;">
                    <h3>{{c.title}}</h3>
                    <div style="width:600px;">{{c.abstract}}</div>
                    <p><em>Appropriate for:</em></p>
                    {{c.audience}}
                    <p><em>Instructor:</em>&nbsp;{{c.instructors}}</p>
                    <p><em>Dates:</em></p>
                    {{c.dates}}
                    <p><em>Room:</em>&nbsp;{{c.room}}</p>
                </div>
                {% endifchanged %}
                <input id="{{c.course_number|slugify}}" type="checkbox" name="courses[]"
                    value="{{c.id}}" data-credit="{{c.credits}}"
                    class="checkbox-toggle"
                    {% if c.checked %} checked="checked"{% endif %}>
                <label for="{{c.course_number|slugify}}">
                    {{c.course_number}}
                    {% if forloop.counter|divisibleby:2 %}
                    <strong>Graduate</strong>
                    {% else %}
                    <strong>Undergraduate</strong>
                    {% endif %}
                </label><br>
                </li>
            {% endfor %}
            </ol>
            </fieldset>
        </div>
        <div class="large-6 medium-12 small-12">
            <fieldset class="blockLabels">
            <legend>Credit Card Details</legend>
            {% if form_proc.errors and status %}
                <div style="padding-left:4px;">
                    <p class="notice">
                        The transaction failed.
                        {% if status == "baddata" or status == "decline" %}
                            Error: <strong>{{status}}</strong>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
            <ol>
            {% include "form_field_credit_card.inc.html" %}
            </ol>
            </fieldset>
        </div>
        <div class="column2 large-6 medium-12 small-12">
            <fieldset>
            <legend>Total and Register</legend>
            <ol class="fright">
                <li class="ctrlHolder">
                    <h3>
                        <label for="id_or-total">Total Amount due</label>
                    </h3>
                    <div class="required">
                        <span class="cost">$</span>
                        <input type="text" name="total" id="id_total"
                        class="required"
                        value="{{form_ord.total.value|default:10}}">
                    </div>
                </li>
                <li class="ctrlHolder">
                    {{form_reg.verify}}
                    <label for="id_verify">
                        {{form_reg.verify.label}}
                    </label>
                </li>
            </ol>
            <ol class="fright">
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Register" class="button" />
                    <p>
                </li>
            </ol>
            </fieldset>
        </div>
    </form>
</div>
<div style="display:none;">
</div>
{% endblock %}
