{% extends "admissions/application/form.html" %}
{% load livewhale_api %}
{% block instrument %}
  {% with form_app.instrument as field %}
    {% include "form_field.inc.html" %}
  {% endwith %}
{% endblock %}
{% block music_track %}
  {% with form_app.track as field %}
    {% include "form_field.inc.html" %}
  {% endwith %}
{% endblock %}
{% block fellowships %}
  {% with form_app.fellowships as field %}
    {% include "form_field.inc.html" %}
  {% endwith %}
{% endblock %}
{% block scholarships %}
  {% with form_app.scholarships as field %}
    {% include "form_field.inc.html" %}
  {% endwith %}
{% endblock %}
{% block housing %}
  {% with form_app.housing as field %}
    {% include "form_field.inc.html" %}
  {% endwith %}
{% endblock %}
{% block audition %}
<fieldset class="blockLabels">
  <legend>Audition Information</legend>
  <ol>
    {% with form_app.audition_date as field %}
    {% include "form_field.inc.html" %}
    {% endwith %}
  </ol>
  <ol>
    {% with form_app.audition_time as field %}
    {% include "form_field.inc.html" %}
    {% endwith %}
    <div class="help" style="margin-left:16px">(times are not guaranteed)</div>
  </ol>
  {% get_lw_content as audition blurbs 2847 %}
  {{audition.body|safe}}
</fieldset>
{% endblock audition %}
