{% extends "admissions/application/form.html" %}
{% load livewhale_api %}
{% block audition %}
<fieldset class="blockLabels">
  <legend>Audition Information</legend>
  <ol>
    {% with form_app.audition_date as field %}
    {% include "form_field.inc.html" %}
    {% endwith %}
  </ol>
  <ol>
    {% with form_app.audition_time as field %}
    {% include "form_field.inc.html" %}
    {% endwith %}
    <div class="help" style="margin-left:16px">(times are not guaranteed)</div>
  </ol>
  {% get_lw_content as audition blurbs 2847 %}
  {{audition.body|safe}}
</fieldset>
{% endblock audition %}
