<div id="sidebar-buttons">
  <div class="cc-tab cc-tab-blue-large cc-tab-blue-6ba2b8">
    <div class="content-wrap">
      <div class="border"></div>
      <p><a href="/continuing-studies/apply/">Apply Now</a></p>
    </div>
    <div class="arrow-wrap">
      <div class="arrow arrow-blue-6ba2b8"></div>
      <div class="border"></div>
    </div>
  </div>
  <div class="cc-tab cc-tab-green-large cc-tab-green-56622b">
    <div class="content-wrap">
      <div class="border"></div>
      <p><a href="/continuing-studies/staff/">Contact Us</a></p>
    </div>
    <div class="arrow-wrap">
      <div class="arrow arrow-green-56622b"></div>
      <div class="border"></div>
    </div>
  </div>
  <div class="cc-tab cc-tab-blue-large cc-tab-blue-003c4b">
    <div class="content-wrap">
      <div class="border"></div>
      <p><a href="/continuing-studies/information-sessions/">Info Sessions</a></p>
    </div>
    <div class="arrow-wrap">
      <div class="arrow arrow-blue-003c4b"></div>
      <div class="border"></div>
    </div>
  </div>
</div>
