{% extends "home.html" %}
{% load livewhale_api %}
{% block title %}
    {% if slug == 'music'%}
    Master of Music (M.M.) in Music Theatre Vocal Pedagogy
    {% else %}{% if slug == 'bdi'%}
    Master (MSc) in Business Design &amp; Innovation
    {% endif %}{% endif %}
    Admissions Application &mdash;
    Continuing Studies &mdash;
    Carthage College
{% endblock %}
{% block group_name %}
<a href="/continuing-studies/">Continuing Studies</a>
{% endblock %}
{% block left_nav %}
{% get_lw_content as nav blurbs 2587 %}
{{nav.body}}
{% endblock %}
{% block content_head %}
<h1 id="page_title">
    {% if slug == 'music'%}
    Master of Music (M.M.) in<br>Music Theatre Vocal Pedagogy
    {% else %}{% if slug == 'bdi'%}
    Master (MSc) in Business Design &amp; Innovation Application
    {% else %} Admissions Application
    {% endif %}{% endif %}
</h1>
{% endblock %}
{% block content %}
    {% get_lw_content as success blurbs 2772 %}
    {{success.body}}
{% endblock %}
{% block sidebar %}
    {% include "includes/side_bar.html" %}
{% endblock %}
