{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
  {% if slug == 'music' %}
    Application for Master of Music
  {% else %}{% if slug == 'bdi' %}
    Master (MSc) in Business Design &amp; Innovation Application
  {% else %}{% if slug == 'bsm' %}
    Master (MSc) in Business Sports Management Application
  {% else %}{% if slug == 'bsn' %}
    RN to BSN Application
  {% else %} Admissions Application
  {% endif %}{% endif %}{% endif %}{% endif %}
  Admissions Application &mdash;
  Continuing Studies &mdash;
  Carthage College
{% endblock %}
{% block content_head %}
    {% if slug == 'music' %}
    Application for Master of Music
    {% else %}{% if slug == 'bdi' %}
    Master (MSc) in Business Design &amp; Innovation Application
    {% else %}{% if slug == 'bsm' %}
    Master (MSc) in Business Sports Management Application
    {% else %}{% if slug == 'bsn' %}
    RN to BSN Application
    {% else %} Admissions Application
    {% endif %}{% endif %}{% endif %}{% endif %}
{% endblock %}
{% block breadcrumb %}
    <li><a href="/academics/adult-evening-programs/adult-undergraduate-studies/">Adult Undergraduate Studies</a></li>
    <li><a href="/academics/adult-evening-programs/adult-undergraduate-studies/admission/" aria-current="page">How to Apply</a></li>
{% endblock %}
{% block content %}
    {% if slug == 'music'%}
    {% get_lw_content as success blurbs 2772 %}
    {{success.body|safe}}
    {% else %}{% if slug == 'bdi'%}
    {% get_lw_content as success blurbs 2906 %}
    {{success.body|safe}}
    {% else %}{% if slug == 'bsm'%}
    {% get_lw_content as success blurbs 3558 %}
    {{success.body|safe}}
    {% else %}{% if slug == 'bsn' %}
    {% get_lw_content as success blurbs 2907 %}
    {{success.body|safe}}
    {% else %}
    {% get_lw_content as success blurbs 2908 %}
    {{success.body|safe}}
    {% endif %}{% endif %}{% endif %}{% endif %}
{% endblock %}
{{success.body}}
