<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<style>
dl {margin-bottom:50px;}
dl dt {
background:#5f9be3;
color:#fff;
float:left;
font-weight:bold;
margin-right:10px;
padding:5px;
width:200px;
}
dl dd {
margin:2px 0;
padding:5px 0;
}
</style>
</head>
<body>
<h1>
{% if data.app.slug == 'music'%}
Master of Music (M.M.) in Music Theatre Vocal Pedagogy
{% else %}{% if data.app.slug == 'bdi'%}
Master (MSc) in Business Design &amp; Innovation Application
{% else %} Admissions Application
{% endif %}{% endif %}
</h1>
<p>
  <strong>
    Payment type: {{data.app.payment_method}}
  </strong>
</p>
<h2>Contact Information</h2>
<dl style="margin-bottom:50px;">
    <dt {{dl_dt}}>
      First name
    </dt>
    <dd {{dl_dd}}>
      {{data.app.first_name}}
    </dd>
    <dt {{dl_dt}}>
      Middle name
    </dt>
    <dd {{dl_dd}}>
      {{data.app.second_name|default:"&nbsp;"}}
    </dd>
    <dt {{dl_dt}}>Last name</dt>
    <dd {{dl_dd}}>{{data.app.last_name}}</dd>
    <dt {{dl_dt}}>Previous last name</dt>
    <dd {{dl_dd}}>{{data.app.previous_name|default:"&nbsp;"}}</dd>
    <dt {{dl_dt}}>Email</dt>
    <dd {{dl_dd}}>{{data.app.email}}</dd>
    <dt {{dl_dt}}>Address</dt>
    <dd {{dl_dd}}>{{data.app.address1}}</dd>
    <dt {{dl_dt}}>Address2</dt>
    <dd {{dl_dd}}>{{data.app.address2|default:"&nbsp;"}}</dd>
    <dt {{dl_dt}}>City</dt>
    <dd {{dl_dd}}>{{data.app.city}}</dd>
    <dt {{dl_dt}}>State</dt>
    <dd {{dl_dd}}>{{data.app.state}}</dd>
    <dt {{dl_dt}}>Zip</dt>
    <dd {{dl_dd}}>{{data.app.postal_code}}</dd>
    <dt {{dl_dt}}>Home Phone</dt>
    <dd {{dl_dd}}>{{data.app.phone}}</dd>
    <dt {{dl_dt}}>Work Phone</dt>
    <dd {{dl_dd}}>{{data.app.phone_secondary|default:"&nbsp;"}}</dd>
    <dt {{dl_dt}}>Mobile Phone</dt>
    <dd {{dl_dd}}>{{data.app.phone_tertiary|default:"&nbsp;"}}</dd>
</dl>
<h2>Personal Information</h2>
<dl style="margin-bottom:50px;">
    <dt {{dl_dt}}>Social security</dt>
    <dd {{dl_dd}}>x{{data.app.social_security_four}}</dd>
    <dt {{dl_dt}}>Date of birth</dt>
    <dd {{dl_dd}}>{{data.app.birth_date|default:"&nbsp;"}}</dd>
    <dt {{dl_dt}}>Birth place</dt>
    <dd {{dl_dd}}>{{data.app.birth_place|default:"&nbsp;"}}</dd>
    <dt {{dl_dt}}>Gender</dt>
    <dd {{dl_dd}}>{{data.app.gender}}</dd>
    <dt {{dl_dt}}>Hispanic or Latinx?</dt>
    <dd {{dl_dd}}>{{data.app.latinx}}</dd>
    <dt {{dl_dt}}>Race</dt>
    <dd {{dl_dd}}>{{data.app.get_race}}</dd>
    <dt {{dl_dt}}>Fellowships?</dt>
    <dd {{dl_dd}}>{{data.app.fellowships|default:"&nbsp;"}}</dd>
    <dt {{dl_dt}}>European Union</dt>
    <dd {{dl_dd}}>{{data.app.gdpr}}</dd>
    <dt {{dl_dt}}>Entry Term</dt>
    <dd {{dl_dd}}>{{data.app.entry_term}}</dd>
    <dt {{dl_dt}}>Entry Year</dt>
    <dd {{dl_dd}}>{{data.app.entry_year}}</dd>
</dl>
<h2>Employment Information</h2>
<dl style="margin-bottom:50px;">
    <dt {{dl_dt}}>Employer</dt>
    <dd {{dl_dd}}>{{data.app.employer|default:"&nbsp;"}}</dd>
    <dt {{dl_dt}}>Position</dt>
    <dd {{dl_dd}}>{{data.app.position|default:"&nbsp;"}}</dd>
    <dt {{dl_dt}}>Tuituion Reimbursement</dt>
    <dd {{dl_dd}}>{{data.app.tuition_reimbursement|default:"&nbsp;"}}</dd>
    <dt {{dl_dt}}>Military Service?</dt>
    <dd {{dl_dd}}>{{data.app.military}}</dd>
    <dt {{dl_dt}}>CV</dt>
    <dd {{dl_dd}}>
      {% if data.app.cv %}
      <a href="https://{{server_url}}{{media_url}}{{data.app.cv}}">Download</a>
      {% endif %}
    </dd>
</dl>
{% if data.app.personal_statement %}
<h3>Personal Statement</h3>
{{data.app.personal_statement|safe}}
{% endif %}
<h2>References</h2>
{% for c in data.app.contacts.all %}
<h3>Contact {{forloop.counter}}</h3>
<dl style="margin-bottom:50px;">
  <dt {{dl_dt}}>Name</dt>
  <dd {{dl_dd}}>{{c.last_name}}, {{c.first_name}}</dd>
  <dt {{dl_dt}}>Email</dt>
  <dd {{dl_dd}}><a href="mailto:{{c.email}}">{{c.email}}</a></dd>
</dl>
{% endfor %}
<h2>Schools Attended</h2>
{% for s in data.app.schools.all %}
<h3>School {{forloop.counter}}</h3>
<dl style="margin-bottom:50px;">
    <dt {{dl_dt}}>Name</dt>
    <dd {{dl_dd}}>{{s.name}}</dd>
    <dt {{dl_dt}}>State/Provence</dt>
    <dd {{dl_dd}}>{{s.state}}</dd>
    <dt {{dl_dt}}>Degree</dt>
    <dd {{dl_dd}}>{{s.degree}}</dd>
    <dt {{dl_dt}}>Dates Attended</dt>
    <dd {{dl_dd}}>{{s.attended}}</dd>
    <dt {{dl_dt}}>Major/Minor</dt>
    <dd {{dl_dd}}>{{s.majorminor}}</dd>
    <dt {{dl_dt}}>GPA</dt>
    <dd {{dl_dd}}>{{s.gpa}}</dd>
</dl>
{% endfor %}
</body>
</html>
