<!doctype html>
    <style>
        fieldset.inlineLabels, li {
            list-style:none;
        }
    </style>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <title>Adult Ed Form</title>
    <link rel='stylesheet' type='text/css' href='{{static_url}}djbuis/css/base_css.css'/>
    <script type='text/javascript'>
        function validate_influence_to_apply(){
            var id = document.getElementById('id_influence_to_apply');
            var val = id.value;
            var patt = new RegExp('.+');
            return patt.test(val);
        }
        function validate_social_security_number(){
            var id = document.getElementById('id_social_security_number');
            var val = id.value;
            var patt = new RegExp('^\\d{3}[\\s\\-\\.]?\\d{2}[\\s\\-\\.]?\\d{4}$');
            return patt.test(val);
        }
        function validate_first_name(){
            var id = document.getElementById('id_first_name');
            var val = id.value;
            var patt = new RegExp('^[a-zA-Z\']+[a-zA-Z\\-\\s\']+$');
            return patt.test(val);
        }
        function validate_middle_name(){
            var id = document.getElementById('id_middle_name');
            var val = id.value;
            var patt = new RegExp('(^[a-zA-Z\']+[a-zA-Z\\-\\s\']+$|^$)');
            return patt.test(val);
        }
        function validate_last_name(){
            var id = document.getElementById('id_last_name');
            var val = id.value;
            var patt = new RegExp('^[a-zA-Z\']+[a-zA-Z\\-\\s\']+$');
            return patt.test(val);
        }
        function validate_previous_last_name(){
            var id = document.getElementById('id_previous_last_name');
            var val = id.value;
            var patt = new RegExp('(^[a-zA-Z\']+[a-zA-Z\\-\\s\']+$|^$)');
            return patt.test(val);
        }
        function validate_employer(){
            var id = document.getElementById('id_employer');
            var val = id.value;
            var patt = new RegExp('^.+$');
            return patt.test(val);
        }
        function validate_position(){
            var id = document.getElementById('id_position');
            var val = id.value;
            var patt = new RegExp('^.+$');
            return patt.test(val);
        }
        function validate_home_address(){
            var id = document.getElementById('id_home_address');
            var val = id.value;
            var patt = new RegExp('^[a-zA-Z\\-\\s\'\"\\(\\)]+$');
            return patt.test(val);
        }
        function validate_city(){
            var id = document.getElementById('id_city');
            var val = id.value;
            var patt = new RegExp('^[a-zA-Z\\-\\s\'\"\\(\\)]+$');
            return patt.test(val);
        }
        function validate_zip(){
            var id = document.getElementById('id_zip');
            var val = id.value;
            var patt = new RegExp('^\\d{5}$');
            return patt.test(val);
        }
        function validate_home_phone(){
            var id = document.getElementById('id_home_phone');
            var val = id.value;
            var patt = new RegExp('^(\\d{4}|\\d{3}[\\s\\-\\.]?\\d{4}|1?[\\s\\-\\.]?\\(?\\d{3}\\)?[\\s\\-\\.]?\\d{3}[\\s\\-\\.]?\\d{4})$');
            return patt.test(val);
        }
        function validate_work_phone(){
            var id = document.getElementById('id_work_phone');
            var val = id.value;
            var patt = new RegExp('^(\\d{4}|\\d{3}[\\s\\-\\.]?\\d{4}|1?[\\s\\-\\.]?\\(?\\d{3}\\)?[\\s\\-\\.]?\\d{3}[\\s\\-\\.]?\\d{4})$');
            return patt.test(val);
        }
        function validate_cell_phone(){
            var id = document.getElementById('id_cell_phone');
            var val = id.value;
            var patt = new RegExp('^(\\d{4}|\\d{3}[\\s\\-\\.]?\\d{4}|1?[\\s\\-\\.]?\\(?\\d{3}\\)?[\\s\\-\\.]?\\d{3}[\\s\\-\\.]?\\d{4})$');
            return patt.test(val);
        }
        function validate_place_of_birth_city(){
            var id = document.getElementById('id_place_of_birth_city');
            var val = id.value;
            var patt = new RegExp('^[a-zA-Z\\-\\s\'\"\\(\\)]+$');
            return patt.test(val);
        }
        function validate_place_of_birth_county(){
            var id = document.getElementById('id_place_of_birth_county');
            var val = id.value;
            var patt = new RegExp('^[a-zA-Z\\-\\s\'\"\\(\\)]+$');
            return patt.test(val);
        }
        function validate_place_of_birth_country(){
            var id = document.getElementById('id_place_of_birth_country');
            var val = id.value;
            var patt = new RegExp('^[a-zA-Z\\-\\s\'\"\\(\\)]+$');
            return patt.test(val);
        }
        function validate_graduate_concentration(){
            var id = document.getElementById('id_graduate_concentration');
            var val = id.value;
            var patt = new RegExp('^[a-zA-Z\']+[a-zA-Z\\-\\s\']+$');
            return patt.test(val);
        }
        function validate_date_of_birth(){
           var id = document.getElementById('id_date_of_birth');
           var val = id.value;
           var newdate = new Date();
           newdate.setFullYear(newdate.getFullYear()-10) //Person must be at least 10 years old
           var value = val.split("-");
           var inputdate = new Date(value[0],value[1]-1,value[2]);
           if (inputdate.getTime() > newdate.getTime()){
               return false;
           }
           else{
               return true;
           }
        }
    </script>
</head>
<body>
    <div>
        {% if submitted %}
            <h2>Your form has been submitted, thank you</h2>
        {% endif %}
    </div>
    <div>
        <div class='sidebar'>
            <img src='http://imageshack.us/a/img651/7008/carthage1.png'></img>
        </div>
        <div class='mainbar'>
            <div class='header'>
                <text class='headertext'>Adult Education Form</text>
            </div><br>
            <form action='' method='post'>{% csrf_token %}
                {{ school_attended_formset.management_form }}
                {{ school_taught_at_formset.management_form }}
                {{ reference_formset.management_form }}
                {{ major_formset.management_form }}
                {{ minor_formset.management_form }}
                <h2>Application for graduate admission</h2>
                <center>
                    {{ form.degree_seeking.label }}
                    {% for item in form.degree_seeking %}
                        {{ item }}
                    {% endfor %}
                    {% for e in form.degree_seeking.errors %}
                        <text class='error'>*{{ e }}</text>
                    {% endfor %}
                </center>
                <center>
                    {{form.when_graduate.label }}
                    {% for item in form.when_graduate %}
                        {{ item }}
                    {% endfor %}    
                    <br>
                    {% for e in form.when_graduate.errors %}
                        <text class='error'>*{{ e }}</text>
                    {% endfor %}
                </center><br>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.influence_to_apply.label }}</text></td>
                        <td>
                            <img class='hidden' id='influence_to_apply_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='influence_to_apply_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.influence_to_apply.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                {{ form.influence_to_apply }}<br>
                <text class='separator'>Personal information</text><hr>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.gender.label }}</text></td>
                        <td>
                            {% for item in form.gender %}
                                {{ item }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for e in form.gender.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.social_security_number.label }}</text></td>
                        <td>{{ form.social_security_number }}</td>
                        <td>
                            <img class='hidden' id='social_security_number_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='social_security_number_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.social_security_number.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.first_name.label }}</text></td>
                        <td>{{ form.first_name }}</td>
                        <td>
                            <img class='hidden' id='first_name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='first_name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.first_name.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.middle_name.label }}</text></td>
                        <td>{{ form.middle_name }}</td>
                        <td>
                            <img class='hidden' id='middle_name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='middle_name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.middle_name.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.last_name.label }}</text></td>
                        <td>{{ form.last_name }}</td>
                        <td>
                            <img class='hidden' id='last_name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='last_name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.last_name.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.previous_last_name.label }}</text></td>
                        <td>{{ form.previous_last_name }}</td>
                        <td>
                            <img class='hidden' id='previous_last_name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='previous_last_name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.previous_last_name.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.served_in_military.label }}</text></td>
                        <td>{{ form.served_in_military }}</td>
                        <td>
                            {% for e in form.served_in_military.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.non_resident.label }}</text></td>
                        <td>{{ form.non_resident }}</td>
                        <td>
                            {% for e in form.non_resident.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>Employer information</text><hr>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.employer.label }}</text></td>
                        <td>{{ form.employer }}</td>
                        <td>
                            <img class='hidden' id='employer_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='employer_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.employer.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.position.label }}</text></td>
                        <td>{{ form.position }}</td>
                        <td>
                            <img class='hidden' id='position_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='position_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.position.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.work_email.label }}</text></td>
                        <td>{{ form.work_email }}</td>
                        <td>
                            {% for e in form.work_email.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>Current location information</text><hr>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.home_address.label }}</text></td>
                        <td>{{ form.home_address }}</td>
                        <td>
                            <img class='hidden' id='home_address_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='home_address_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.home_address.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                        <td><text class='fieldlabel'>{{ form.home_phone.label }}</text></td>
                        <td>{{ form.home_phone }}</td>
                        <td>
                            <img class='hidden' id='home_phone_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='home_phone_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.home_phone.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.city.label }}</text></td>
                        <td>{{ form.city }}</td>
                        <td>
                            <img class='hidden' id='city_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='city_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.city.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                        <td><text class='fieldlabel'>{{ form.work_phone.label }}</text></td>
                        <td>{{ form.work_phone }}</td>
                        <td>
                            <img class='hidden' id='work_phone_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='work_phone_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.work_phone.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.state.label }}</text></td>
                        <td>{{ form.state }}</td>
                        <td>
                            {% for e in form.state.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                        <td><text class='fieldlabel'>{{ form.cell_phone.label }}</text></td>
                        <td>{{ form.cell_phone }}</td>
                        <td>
                            <img class='hidden' id='cell_phone_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='cell_phone_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.cell_phone.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.zip.label }}</text></td>
                        <td>{{ form.zip }}</td>
                        <td>
                            <img class='hidden' id='zip_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='zip_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.zip.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                        <td><text class='fieldlabel'>{{ form.personal_email.label }}</text></td>
                        <td>{{ form.personal_email }}</td>
                        <td>
                            {% for e in form.personal_email.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>Birth location information</text><hr>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.date_of_birth.label }}</text></td>
                        <td>{{ form.date_of_birth }}</td>
                        <td>
                            <img class='hidden' id='date_of_birth_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='date_of_birth_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.date_of_birth.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.place_of_birth_city.label }}</td>
                        <td>{{ form.place_of_birth_city }}</td>
                        <td>
                            <img class='hidden' id='place_of_birth_city_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='place_of_birth_city_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.place_of_birth_city.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.place_of_birth_county.label }}</td>
                        <td>{{ form.place_of_birth_county }}</td>
                        <td>
                            <img class='hidden' id='place_of_birth_county_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='place_of_birth_county_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.place_of_birth_county.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.place_of_birth_state.label }}</td>
                        <td>{{ form.place_of_birth_state }}</td>
                        <td>
                            {% for e in form.place_of_birth_state.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.place_of_birth_country.label }}</td>
                        <td>{{ form.place_of_birth_country }}</td>
                        <td>
                            <img class='hidden' id='place_of_birth_country_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='place_of_birth_country_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.place_of_birth_country.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>Degree information</text><hr>
                <table>
                    <tr>
                        <td>
                            <text class='fieldlabel'>{{ form.degree.label }}</text>
                        </td>
                        {% for item in form.degree %}
                        <td>
                            {{ item }}
                        </td>
                        {% endfor %}
                        <td>
                            {% for e in form.degree.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.graduate_concentration.label }}</text></td>
                        <td>{{ form.graduate_concentration }}</td>
                        <td>
                            <img class='hidden' id='graduate_concentration_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='graduate_concentration_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.graduate_concentration.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.entry_month.label }}</text></td>
                        <td>{{ form.entry_month }}</td>
                        <td>
                            {% for e in form.entry_month.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.year.label }}</text></td>
                        <td>{{ form.year }}</td>
                        <td>
                            {% for e in form.year.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.majors.label }}</text></td>
                        <td>{{ form.majors }}</td>
                        <td>
                            {% for e in form.majors.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                        <td><text class='fieldlabel'>{{ form.minors.label }}</text></td>
                        <td>{{ form.minors }}</td>
                        <td>
                            {% for e in form.minors.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <text>{{ form.majors.help_text }}</text><br><br>
                <text class='separator'>Other information</text><hr>
                <text>List, in chronological order, high school and colleges, or universities attended</text>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>Name</text></td>
                        <td></td>
                        <td><text class='fieldlabel'>City</text></td>
                        <td></td>
                        <td><text class='fieldlabel'>State</text></td>
                        <td></td>
                        <td><text class='fieldlabel'>Date attended</text></td>
                    </tr>
                    {% for form in school_attended_formset %}
                    <tr>
                        {% for field in form %}
                            <td>
                                {{ field }}
                            </td>
                            <td>
                                {% for e in field.errors %}
                                    <text class='error'>*{{ e }}</text>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <input type='submit' name='add_attended' id='add_attended' value='Add'>
                        </td>
                    </tr>
                </table><br>
                <text>List, in chronological order, the schools in which you have taught since graduating with an undergraduate degree</text>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>Name</text></td>
                        <td></td>
                        <td><text class='fieldlabel'>City</text></td>
                        <td></td>
                        <td><text class='fieldlabel'>State</text></td>
                        <td></td>
                        <td><text class='fieldlabel'>Date of employment</text></td>
                    </tr>
                    {% for form in school_taught_at_formset %}
                    <tr>
                        {% for field in form %}
                            <td>
                                {{ field }}
                            </td>
                            <td>
                                {% for e in field.errors %}
                                    <text class='error'>*{{ e }}</text>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <input type='submit' name='add_taught' id='add_taught' value='Add'>
                        </td>
                    </tr>
                </table><br>
                <text>References</text>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>Name</text></td>
                        <td></td>
                    </tr>
                    {% for form in reference_formset %}
                    <tr>
                        {% for field in form %}
                        <td>
                            {{ field }}
                        </td>
                        <td>
                            {% for e in field.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <input type='submit' name='add_reference' id='add_reference' value='Add'>
                        </td>
                    </tr>
                </table><br><br>
                <fieldset>
                    <legend>
                        Optional (The following is for statistical purposes only and will not be used in admissions decisions.)
                    </legend>
                    <text>Carthage College does not discriminate against employees, students, or applicants on the basis of race, sex, handicap, veteran status, national origin, religious, or personal affiliation</text>
                    <table>
                        <tr>
                            <td><text class='fieldlabel'>{{ form.religious_preference.label }}</text></td>
                            <td>{{ form.religious_preference }}</td>
                            <td>
                                {% for e in form.religious_preference.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td><text class='fieldlabel'>{{ form.marital_status.label }}</text></td>
                            <td>{{ form.marital_status }}</td>
                            <td>
                                {% for e in form.marital_status.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td><text class='fieldlabel'>{{ form.hispanic.label }}</text></td>
                            <td>{{ form.hispanic }}</td>
                            <td>
                                {% for e in form.hispanic.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td><text class='fieldlabel'>{{ form.additional_race.label }}</text></td>
                            <td>{{ form.additional_race }}</td>
                            <td>
                                {% for e in form.additional_race.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                            </td>
                        </tr>
                    </table>
                </fieldset><br><br>
                {{ form.valid }}
                <text>
                    I certify this information is true and complete to the best of my knowledge
                </text>
                {% for e in form.valid.errors %}
                    <text class='error'>*{{ e }}</text>
                {% endfor %}<br><br><br>
                <text class='separator'>Your Personal Statement</text><hr>
                <text>
                    Please write a brief personal statement regarding the reasons you wish to enroll in the Graduate Program. We would like to know your aims and interests. Include a short autobiography and an honest self-evaluation of your personal strengths and weaknesses as a teacher. The statement should be printed on a standard 8 1/2 x 11 sheet of stationary
                </text><br><br>
                {{ payment.payment_option.label }}
                {{ payment.payment_option }}<br><br>
                <div id='payment_check'>
                    <p>
                        Send the personal statement and $25 application fee to:<br>
                        Adult Education<br>
                        Carthage<br>
                        2001 Alford Park Drive<br>
                        Kenosha, Wisconsin 53140-1994
                    </p>
                    <input type="submit" value="Submit form">
                </div>
                <div id='payment_card'>
                    <div>
                        {{ payment.card_type.label }}
                        {{ payment.card_type }}<br>
                        {% for e in payment.card_type.errors %}
                            <text class='error'>*{{ e }}</text>
                        {% endfor %}
                    </div><br>
                    <div>
                        {{ payment.card_number.label }}
                        {{ payment.card_number }}<br>
                        {% for e in payment.card_number.errors %}
                            <text class='error'>*{{ e }}</text>
                        {% endfor %}
                    </div><br>
                    <div>
                        {{ payment.security_code.label }}
                        {{ payment.security_code }}<br>
                        {% for e in payment.security_code.errors %}
                                <text class='error'>*{{ e }}</text>
                        {% endfor %}
                    </div>
                    <div>
                        Expiration: {{ payment.expiration_month }}/{{ payment.expiration_year }}<br>
                        {% for e in payment.expiration_month.errors %}
                            <text class='error'>*{{ e }}</text><br>
                        {% endfor %}
                        {% for e in payment.expiration_year.errors %}
                            <text class='error'>*{{ e }}</text>
                        {% endfor %}
                    </div><br><br><br>
                    <input type="submit" value="Submit form">
                </div>
                <div>
                    <p>
                        Questions should be addressed to the Office of Adult Education at 800-551-5343 or 262-551-6300
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>
<script type='text/javascript'>
    var field = document.getElementById('id_influence_to_apply');
    field.onblur = function() {
        var n=document.getElementById('influence_to_apply_no');
        var y=document.getElementById('influence_to_apply_yes');
        if(!validate_influence_to_apply()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_social_security_number');
    field.onblur = function() {
        var n=document.getElementById('social_security_number_no');
        var y=document.getElementById('social_security_number_yes');
        if(!validate_social_security_number()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_first_name');
    field.onblur = function() {
        var n=document.getElementById('first_name_no');
        var y=document.getElementById('first_name_yes');
        if(!validate_first_name()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };    
    field = document.getElementById('id_middle_name');
    field.onblur = function() {
        var n=document.getElementById('middle_name_no');
        var y=document.getElementById('middle_name_yes');
        if(!validate_middle_name()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_last_name');
    field.onblur = function() {
        var n=document.getElementById('last_name_no');
        var y=document.getElementById('last_name_yes');
        if(!validate_last_name()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_previous_last_name');
    field.onblur = function() {
        var n=document.getElementById('previous_last_name_no');
        var y=document.getElementById('previous_last_name_yes');
        if(!validate_previous_last_name()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_employer');
    field.onblur = function() {
        var n=document.getElementById('employer_no');
        var y=document.getElementById('employer_yes');
        if(!validate_employer()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_position');
    field.onblur = function() {
        var n=document.getElementById('position_no');
        var y=document.getElementById('position_yes');
        if(!validate_employer()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_home_address');
    field.onblur = function() {
        var n=document.getElementById('home_address_no');
        var y=document.getElementById('home_address_yes');
        if(!validate_home_address()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_city');
    field.onblur = function() {
        var n=document.getElementById('city_no');
        var y=document.getElementById('city_yes');
        if(!validate_city()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_zip');
    field.onblur = function() {
        var n=document.getElementById('zip_no');
        var y=document.getElementById('zip_yes');
        if(!validate_zip()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_home_phone');
    field.onblur = function() {
        var n=document.getElementById('home_phone_no');
        var y=document.getElementById('home_phone_yes');
        if(!validate_home_phone()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_work_phone');
    field.onblur = function() {
        var n=document.getElementById('work_phone_no');
        var y=document.getElementById('work_phone_yes');
        if(!validate_work_phone()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_cell_phone');
    field.onblur = function() {
        var n=document.getElementById('cell_phone_no');
        var y=document.getElementById('cell_phone_yes');
        if(!validate_cell_phone()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_place_of_birth_city');
    field.onblur = function() {
        var n=document.getElementById('place_of_birth_city_no');
        var y=document.getElementById('place_of_birth_city_yes');
        if(!validate_place_of_birth_city()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_place_of_birth_county');
    field.onblur = function() {
        var n=document.getElementById('place_of_birth_county_no');
        var y=document.getElementById('place_of_birth_county_yes');
        if(!validate_place_of_birth_county()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_place_of_birth_country');
    field.onblur = function() {
        var n=document.getElementById('place_of_birth_country_no');
        var y=document.getElementById('place_of_birth_country_yes');
        if(!validate_place_of_birth_country()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
    field = document.getElementById('id_graduate_concentration');
    field.onblur = function() {
        var n=document.getElementById('graduate_concentration_no');
        var y=document.getElementById('graduate_concentration_yes');
        if(!validate_graduate_concentration()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
//
//
//
//
    var element = document.getElementById('id_payment_option');
    var check = document.getElementById('payment_check');
    var card = document.getElementById('payment_card');
    if (element.value == 'check'){
            check.style.display = 'inline';
            card.style.display = 'none';
    }
    else{
            check.style.display = 'none';
            card.style.display = 'inline';
    }
    element.onchange = function(){
        check = document.getElementById('payment_check');
        card = document.getElementById('payment_card');
        if (this.value == 'check')
        {
                check.style.display = 'inline';
                card.style.display = 'none';
        }
        else
        {
                check.style.display = 'none';
                card.style.display = 'inline';
        }
    };
    element = document.getElementById('id_date_of_birth');
    element.onblur = function() {                               
        var n=document.getElementById('date_of_birth_no');
        var y=document.getElementById('date_of_birth_yes');
        if(!validate_date_of_birth()){ 
            n.style.display='inline'; y.style.display='none'; 
        }
        else {
            n.style.display='none'; y.style.display='inline';
        }
    };
</script>
</html>
