{% extends "base.html" %}
{% block title %}
  Information Request &mdash;
  Continuing Studies &mdash;
  Carthage College
{% endblock %}
{% block content_head %}
  <h1>Information Request</h1>
{% endblock %}
{% block breadcrumb %}
    <li><a href="https://www.carthage.edu/admissions/graduate-students/">Graduate Students</a></li>
    <li><a href="#" aria-current="page">Request Information</a></li>
{% endblock %}
{% block content %}
  <div class="forms-container">
    {% include "includes/generic_form.html" %}
  </div>
{% endblock %}
